<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title>Registro</title>
</head>
<body>
    <h2>Registro</h2>
    <form action="/registro" method="POST">
        <input type="text" name="nome" placeholder="Nome" required>    <!-- tenta sempre lembrar dos type e nome quando for mexer, pq se nao vai dar um trabalho-->
        <input type="text" name="telefone" placeholder="Telefone" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Senha" required>
        <input type="text" name="Ningresso" placeholder="Numero ingresso" required>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>